PORT="3001"

DATABASE_URL="mysql://root:@localhost:3306/mandorin_dev"
DATABASE_USER="root" // [!code ++]
DATABASE_PASSWORD="" // [!code ++]
DATABASE_NAME="mandorin_dev" // [!code ++]
DATABASE_HOST="localhost" // [!code ++]
DATABASE_PORT=3306 // [!code ++]

SALT=

SUPABASE_URL=""
SUPABASE_ANON_KEY=""

JWT_ACCESS_KEY=""
JWT_REFRESH_KEY=""

/*midtrans*/
MERCHANT_ID=""
Client_Key=""
SERVER_KEY=""

COOKIE_SECURE=false
